<form class="item">
      <!-- <input
        type="text"
        name="name"
        id="name"
        placeholder="Name"
        class="form-control"
        [(ngModel)]="nameInput"
      />
      <label for="lastName" class="sr-only">Last Name</label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        placeholder="LastName"
        class="form-control"
        [(ngModel)]="lastNameInput"
      /> -->
      <input
      type="text"
      name="name"
      id="name"
      placeholder="Name"
      [(ngModel)]="nameInput"
    />
    <input
      type="text"
      name="lastName"
      id="lastName"
      placeholder="LastName"
      [(ngModel)]="lastNameInput"
    />
    <button type="submit" (click)="addPerson()">
    +
    </button>
  </form>